RewriteEngine On
RewriteBase /facebook/
RewriteRule ^groups/([^/]*)$ /facebook/index.php?id=$1 [L]
RewriteRule ^groups/([^/]*)/page/([^/]*)$ /facebook/index.php?id=$1&p=$2 [L]
RewriteRule ^groups/([^/]*)/post/([^/]*)$ /facebook/index.php?id=$1&s=$2 [L]
